.cartItem {
    display: flex;
    margin: 0 0 10px;
    border-bottom: 1px solid #ececec;
    padding: 10px;
    align-items: center;
    width: 100%;
}

.cartItem img {
    width: 50px;
    height: 50px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.itemDecs {
    margin: 0;
    padding: 0;
}

.buttonDelete {
    width: 4%;
    font-size: 10px;
    height: 50%;
    align-self: center;
    margin-right: 10px;
    margin-left: 10px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
}

.buttonDelete {
    align-self: center;
}

.buttonsToCart {
    display: flex;
    height: 50%;
    width: 12%;
    justify-content: center;
    margin-left: 40px;
}

.productInfo p {
    margin: 0;
    padding: 0;
}

.buttonsToCart input {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50px;

}

.buttonsToCart button {
    height: 80%;
    margin-top: 9px;
    background-color: white;
}

.totalPr {
    margin-left: 40px;
}

@media (max-width: 528px) {
    .cartItem {
        flex-direction: row;
        align-items: center;
    }

    .cartItem img {
        width: 100%;
        height: auto;
    }

    .productInfo {
        flex-direction: column;
        font-size: 12px;
    }

    .buttonDelete {
        width: 10%;
        font-size: 12px;
    }

    .buttonsToCart {
        width: 20%;
        margin-left: 10px;
    }

    .totalPr {
        margin-left: 10px;
    }

    .buttonsToCart button {
        width: 2%;
    }
}