.category-list
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left; 
    flex-direction: column;
    margin: 0;
}
a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    text-wrap: nowrap;
  }

  .footer__heading 
  {
    font-weight: bold;
    font-size: 20px;
    align-self: flex-start;
    padding-left: 15px;

  }
  
  a span {
    display: inline-block;
    vertical-align: middle;
    color: black;
    text-wrap: nowrap;
    font-family: "Open Sans", sans-serif;
  }

  .category-list li {
    margin-bottom:0; 
    line-height: 1.0; 
    font-weight: lighter  !important;
    text-align: left
  }
  .category-list li a {
    font-weight: lighter;
    font-size: 14px;
    text-align: left; 
    display: inline-block;
  }
  
  a:hover {
    text-decoration: underline;
    color: black;
    text-decoration-color: black;
    text-decoration-thickness: 0.7px; 
  }
  
  .category-list a {
    text-decoration: none; 
    color: black; 
  }
  
  .category-list a:hover {
    text-decoration: underline;
    color: black; 
  }
  
  .category-list ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
  }

  
  .jsk-for-b, .customer-serv {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .jsk-for-b p, .customer-serv p {
    margin: 0; 
    padding: 0;
  }
 .info-block
 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
 }

 .info-block a
 {
    font-weight: lighter;
    font-size: 14px;
    text-align: left; 
    display: inline-block;
    color: black;
    margin: 0;
    padding: 0;
 }

 .info-block a :hover{
  text-decoration: underline;
    color: black;
    text-decoration-color: black;
    text-decoration-thickness: 0.7px; 
 }
  
  .company-details-text p {
    margin: 0; 
  }
  
  .company-details-text strong {
    display: inline;
  }
  
  .footer__contact-information {
    text-align: left; 
  }
  
  .footer__contact-information p {
    display: block;
  }
  
  .info-block .footer__heading
  {
    padding-left: 0;
  }

  .test {
    display: flex; 
    padding: 0; 
    margin: 0;
  }
  
  .test li {
    list-style: none; 
    margin-right: 10px; 
  }
  

  .test li:last-child {
    margin-right: 0;
  }
  
  
  @media (max-width: 528px) {
    .category-list {
        width: 100%;
        padding: 15px;
        flex-direction: column;
    }
  
    .footer__heading {
        cursor: pointer;
    }
  
    .category-list ul {
        display: none;
        list-style-type: none;
        padding-left: 0;
    }
  
    .category-list.open ul {
        display: block;
    }
  
    .category-list {
        display: flex;
        flex-direction: column;
    }
    .footer__contact-information {
      display: none;
    }
  
    .footer__contact-information.open {
      display: block; 
    }
  
    .footer__heading {
      cursor: pointer; 
    }
   .footer__heading 
    {
      font-weight: normal;
      font-size: 17px;
    }
  }